/*----color palette
lightgrey= #F3F2F2
deepblue = #000011
White: #FFFFFF
DeepBlue: #000011
Red: #BE1E2D

*/

* {
  box-sizing: border-box;
}

/* Layout styling */

body {
  background-color: #000011;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #000011;
}

h2 {
  font-size: 1.35em;
  font-weight: bold;
  color: #000011;
  margin: 0.2em;
}

h3 {
  font-family: "Libre Barcode 128 Text";
  font-size: 3.6em;
  font-weight: 1;
  color: white;
  margin: 0;
}

h4 {
  font-size: 1em;
  font-weight: 200;
  color: #AE1C29;
}

p {
  font-size: 0.7em;
  font-weight: normal;
  color: #000011;
}

li{
  font-size: 0.7em;
  font-weight: normal;
  color: white;

}
img {
  width: 100%;
}

.logo {
  padding-top: 5px;
  max-width: 150px;
  min-width: 100px;
}



/*Sections*/

/*///////////////HEADER/////////////*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background-color: #000011;
  position: fixed;
  width: 100%;
  z-index: 2;
  
}


.container {
  width: 100vw;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000011;
}

.nav ul {
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navtoggle li:not(:first-child) {
  display: none;
}

.navtoggle.responsive li  {
  display: flex;
  padding: 20px 20px;
  border-bottom: 1px solid #E54646;
  width: 200px;
  background: #000011;
  color: #ffffff;
  flex-direction: column;
  align-items: flex-end;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}


.navtoggle.responsive li:first-child  {
  padding: 20px 20px;
}
/* ////////HERO SECTION 520px///////// */

.hero {

  margin: 0;
  padding: 10px 0 0 0;
  border: 0;
  background-color: #000011;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: sticky;  
  height: auto; 
  overflow: hidden; 
}

.illustration{
  position: relative;
  display: flex;
  margin: 0;
 padding: 0;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: auto;
}


.animated-ticker {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-height: 20%;
  background-color: #000011;
}

@keyframes moveLoop {
  0% {
    transform: translateX(100%);
    opacity: 0;
    /* Hidden before animation starts */
  }

  10% {
    opacity: 1;
    /* Fully visible as soon as the animation starts */
  }

  100% {
    transform: translateX(-100%);
    opacity: 1;
    /* Visible while moving */
  }
}

.stock-sbux,
.stock-apple,
.stock-amd {
  animation: moveLoop 50s linear infinite;
}


.translate-stock-sbux,
.translate-stock-apple,
.translate-stock-amd {
  opacity: 0;
  animation: moveLoop 10s linear infinite;
  animation-delay: 5s;
  animation-fill-mode: both;
  /* Ensures the opacity stays after the animation delay */

}

.hero-img {
  position: static;
  margin: 0;
  padding: 10px 0 0 0;
  border:0; 
  height: auto;
  z-index: 0; 
}

.selector {

  width: 800px;
  max-width: 50%;
  min-width: 278px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
  animation: pivot 15s infinite alternate;
  animation-delay: 3s;
  z-index: 3;

}
#tiers{
  display: none;
}

.hero-text{
  
display: none;
}

@keyframes pivot {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
}
50% {
    transform: translate(-50%, -50%) rotate(-30deg); /* Rotate to the left */
}
100% {
    transform: translate(-50%, -50%) rotate(20deg); /* Rotate to the right */
}
}

.hero-content {
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 7%;
  transform: translateY(-50%);
  /* Ensures vertical centering within its container */
  text-align: left;
  color: white;
} 

#nomad,
#resident,
#denizen,
#seeker {
  opacity: 0; /* Start invisible */
  transform: translateY(20px); /* Start slightly below */
  animation-duration: 3s; /* Animation duration */
  animation-fill-mode: forwards; /* Keep the final state after animation */
  animation-fill-mode: forwards; /* Keep the final state after animation */
  animation-timing-function: ease; /* Easing function */
}
#seeker {
  animation-name: fadeInUp; /* Animation for seeker */
  animation-delay: 0s; /* Delay of 0.9 seconds */
}
#resident {
  animation-name: fadeInUp; /* Animation for resident */
  animation-delay: 0.6s; /* Delay of 0.3 seconds */
}
#denizen {
  animation-name: fadeInUp; /* Animation for denizen */
  animation-delay: 0.9s; /* Delay of 0.6 seconds */
}
#nomad {
  animation-name: fadeInUp; /* Animation for nomad */
  animation-delay: 1.2s; /* No delay */
}
/* Keyframes for fadeInUp animation */
@keyframes fadeInUp {
  to {
    opacity: 1; /* Final opacity */
    transform: translateY(0); /* Final position */
  }
}

/* ////////INFO SECTION///////// */
.choose-path{
  margin: 0;
  padding: 0;
  background-color: #000011;
}
.path-title h2,
.path-title p {
  margin: 0;
  color: white;
}

.path-title{
  margin: 0;
  text-align: center;
  background-color: #000011;
}

.path-text h4{
  color: white;
}

.path-text{
  margin: 0;
  padding: 20px;
  text-align: left;
}

.prices {
  padding: 10px 20px 60px 20px;
  background-color: #000011;
  color: white;
}

.prices h1,
.prices h2,
.prices p {
  color: white;
}

.price-content {
  margin: 0;
  padding: 0 50px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  gap: 20px;
  scroll-behavior: smooth;
  cursor: grab;
  background-color: #000011;
  user-select: none;
  padding-bottom: 30px;
  box-sizing: border-box;

}

.price-content.active {
  cursor: grabbing;
  user-select: none;

}

.price-content article {

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  /* Prevent shrinking, keep each article's width */
  width: 230px;
}

body.dragging {
  user-select: none;
}

.item {

  max-width: 300px;
  flex-shrink: 0;
  white-space: normal;
  overflow: hidden;


}

.item p {
  font-size: 0.85rem;
  line-height: 1.4;
  
}

.item-img {

  max-width: 290px;
  flex-shrink: 0;

}

.scroller{
  display: none;
}
.info {
  background-color: #7F5A24;
  margin: 0;
  padding: 80px 20px;
  border: 0;
}
.info-content{
  margin:0;
  padding: 20px 0;
}
.info-intro{
  display: none;
  }
.info-large{
  display: none;
}

.info h2,
.info h4, 
.info p,
.info-work-container h2,
.info-work-container h4,
.info-work-container p{
  color:white
}

  @media (min-width:767px) {
    .info-work-container {
      display: inline-flex;
      padding: 0 30px;
      flex-direction: column;
      justify-content: center;
      column-gap: 50px;
    }
  
  .info-map {
    width: 90%;
    max-width: 590px;
  }

  .info-content {
    width: 100%;
    padding: 30px;
  }
}


.how-it-works {
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: space-evenly;

}

.how-it-works-title{
  margin: 0;
  padding: 0 0 30px 0;
 }
 
 .how-it-works-img{
  min-width: 60px;
 }

 .how-it-works-content{
  max-width: 70%;
 }

 .step{
  margin: 0;
  padding: 0 0 30px 0;
  width: 100%;
 }
  
 .step h4 {
  font-size: 0.8em;
  margin: 9px;
 }

 .step h2{
  font-size: 1em;
 }

.barcode {
  max-width: 70%;
}

.footer {
  background-color: #000000;
  padding: 10px 20px 10px 20px;
  margin: 0;
  border: 0;
  padding-top: 100px;
}

.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer h2, 
.footer h4, 
.footer p{
  color: #ffffff;
}

.row {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.logo-footer {
  max-width: 180px;
}

.termns{
  color: white;
}

.contact-button {
  margin: 0px;
  padding: 20px 0 20px;
  max-width: 30px ;
}

/* ///////////PATH PAGE/////////////*/

.sub-menu{
  padding: 60px 20px 20px 20px;
}
.path-content p,
.path-content li,
.path-container p,
.path-container li{
  color: #ffffff;
  font-size: 16px;
}

.path-content{
  margin:0;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.path-description-title{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.path-description-title h2{
  color: white;
}

.path-description-title img{
  max-height: 60px;
  width: auto;
}
.path-img-title{
  display: flex;
  position: absolute;
  top: 60px;
  left: 90px;
  z-index: 1;
}
.other-paths{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}


.other-paths img{
  max-height:40px ;
  width: auto;
}

@media screen and (min-width: 520px){
  .path-description-title{
    display: flex;
    justify-content: flex-end;
    padding: 100px 20px 20px 20px;
  }  
  .path-img-title {
  display: flex;
  position: absolute;
  top: 160px;
  left: 90px;

  }
}

.price-tag{
  display: none;
}

@media screen and (min-width:1024px){
  .price-tag{
    display: block;
  }
}
.path-description, 
.price-description-text{
  padding: 0 20px 20px 20px;
}

.tier-card{
  max-width: 470px;
}
.path-explore-button{
  padding: 0 20px 20px 20px;
  text-align: center;
  
}
.select-button{
  padding: 10px 0;
  text-align: center;
}
.path-explore-button-large{
  display: none;
}
.select-button-large-screens{
  display: none;
}

/* ///////////ABOUT PAGE/////////////*/


.about-container {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000011;
}

#banner-color {
  color: white;

}

.banner {
  top: 150px;
}


#about {
  margin: 0;
  padding: 0;
  border: 0;
}

.land-photo {
  display: none;
}


.about-content {
  margin: 20px 30px;
  padding: 0 10px;
  border: 0;
}

.about-content p{
  color: white;
}
.bold {
  font-weight: 500;
}

/*FORM*/
.form {
  margin: 0;
  padding-bottom: 30px;
  background-color: #000011;
  color: white;
}

.form h1,
.form h2,
.form p {
  color: white;
}


.form-head {
  display: flex;
  margin: 30px 0 0 0;
  padding: 20px 0 0 0;
  border: 0;
  align-items: center;

}

.row-form {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;

}

.close-icon {
  height: 40px;
  display: flex;


}

.form-title {
  margin: 10px 10px;
  padding: 10px 10px;

}

.form-content {
  margin: 10px 10px;
  padding: 10px 10px;
  max-width: 650px;
  align-items: center;
}

section label {
  display: block;
  margin-bottom: 20px;
  /* Consistent spacing between inputs */
}

/* Wrapper around input to position custom placeholder */
.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  /* Adjust spacing for the note below */
}

/* Style the input field */
input[type="text"],
input[type="date"],
input[type="number"],
select {
  width: 100%;
  padding: 25px 10px 10px;
  /* Adjust padding to leave space for placeholder at the top */
  border: none;
  border-bottom: 4px solid #AE1C29;
  /* Red bottom border (initially lighter) */
  background-color: white;
  font-size: 1rem;
  border-radius: 0;
  /* Remove rounded edges */
  color: black;
  transition: border-color 0.3s ease;
  /* Smooth transition for border color change */
}

/* Highlight bottom border on focus */
input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  /* Remove default focus outline */
  border-bottom: 4px solid #AE1C29;
  /* Highlighted bottom border in solid red */
}

/* Custom placeholder style */
.placeholder-custom {
  position: absolute;
  top: 5px;
  /* Place it near the top of the input field */
  left: 10px;
  /* Align with input padding */
  color: #AE1C29;
  /* Red color for placeholder text */
  font-size: 0.9rem;
  /* Slightly smaller than input text */
  pointer-events: none;
  /* Prevent interactions with the placeholder */
  line-height: 1.2rem;
}

/* Style the note under the input field */
.note {
  color: white;
  font-size: 0.875rem;
  /* Slightly smaller font size */
  margin-top: 2px;
  /* Closer to the input field */
  text-align: left;
  /* Align text to the left */
}

/* Responsive adjustments for mobile devices */
@media (max-width: 768px) {
  .placeholder-custom {
    font-size: 0.8rem;
  }

  .note {
    font-size: 0.8rem;
  }
}

#call-action {
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 900px;

}

.payment-cta {
  display: block;
  margin: 0;
  padding: 20px 0;
}


/*Button*/
button {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  transition: 0.2s opacity;

}

.primary {
  width: auto;
  font-size: 24px;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  background-color: #AE1C29;
  border: 2px solid #AE1C29;
  cursor: pointer;

}

.secondary {
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 10px 20px;
  border: 2px solid white;
  cursor: pointer;
}

button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid #AE1C29;
  opacity: 0.8;
}

button:active {
  background-color: white;
}

button:focus {
  border: 2px solid #AE1C29;
}

button:visited {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

a:visited {
  /* visited link */
  color: #ffffff;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:focus {
  outline: 2px solid #e54646;
}

a:active {
  /* selected link */
  color: #c22727;
}

/* ===================================================
Medium devices (640px and larger)
===================================================== */
@media only screen and (min-width: 640px) {

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

  .navtoggle.responsive li {
    border-bottom: none; 
  }
  .navtoggle li:not(:first-child) {
    display: inline-block;
  }
  .navtoggle li:first-child {
    display: none;
  }
  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding: 0;
  }

  .nav li {
    margin-left: 20px;
    /* Spacing between nav items */
    flex: 0 1 auto;
  }
 
  .nav a {
    text-decoration: none;
    /* Remove underline */
    color: #ffffff;
    /* Link color */
    position: relative;
    /* Position for pseudo-element */
  }
  
  .nav a:hover {
    color: #ffffff;
    /* Color on hover */
  }
  
  /* Pseudo-element for underline effect */
  .nav a::after {
    content: "";
    /* Required for pseudo-element */
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    /* Move the line further down */
    height: 2px;
    /* Thickness of the line */
    background-color: #E22E2E;
    /* Change to your desired color */
    transform: scaleX(0);
    /* Initially scale the line to 0 (hidden) */
    transition: transform 0.3s ease;
    /* Smooth transition */
  }
  
  .nav a:hover::after {
    transform: scaleX(1);
    /* Scale the line to full width on hover */
  }
  

  .hero-content {
    top: 45%;
    left: 50%;
  }
  #tiers {
    display: block;
    position: absolute; 
    top: 65%; 
    left: 50%; 
    animation-delay: 4s;
    transform: translate(-50%, -50%); 
    transition: 500ms ease;
    z-index: 1; 
    width: 70%;
    max-width: 1100px;
    
    
    }
  #selector {
    display: block;
    position: absolute; /* Allows for precise positioning */
    top: 65%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to center */
    transition: transform 0.3s ease;
    animation: pivot 15s infinite alternate;
    animation-delay: 3s; /* Delay for animation */
    z-index: 3; /* On top of everything */
    max-width: 700px;
    min-width: 278px;
  }
  .land-photo {
    display: inline;
  
  }
.about-content{
  width: 70%;
}  
.prices{
  padding: 80px 20px 250px 20px;
}

.path-title{

  padding: 50px 20px 0 0;
}

.row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
.info-container {
    display: flex;

    padding: 50px 20px 30px 20px;
    flex-direction: row;

    justify-content: center;
    column-gap: 50px;
 
  }
  
.scroller {
    display: flex;
    margin: 0;
    padding-right: 50px;
    width: 150px;
    margin-left: auto;
  }

.info{
  background-color: #7F5A24;
  margin: 0;
  padding: 20px;
  border: 0;
}
.info,
.info-content,
.how-it-works p{
  font-size: 16px;
}
.info-map{
  min-width: 40%;
}
.how-it-works{ 
    display: block;
    margin: 0;
    padding: 10px;
    align-content: center;
  }
.how-it-works-title{
    margin: 0;
    padding: 0 0 30px 20px;
  }
  .how-it-works-img {
    margin: 0;
    padding-bottom: 20px;
    border: 0;
    width: 84%;
  }
  
.how-it-works-content{
    display: flex;
    flex-direction: row;
    justify-content: left;
    column-gap: 6%;
    max-width: 100%;

    
  
  }
.step{
    width: 20%;
  }

.step h2 {

   font-size: 1em;
  }
.step h4{
    font-size: 0.9em;
  }

.path-text{
    margin: 0;
    padding: 0 0 0 80px;
    text-align: left;
  }
.price-content {
    margin: 0;
    padding: 0 50px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
 

  }

/* PATH PAGE*/
.path-full-container{
  display: flex;
  flex-direction: column;
}

.path-content p{
  font-size:18px;
}


.path-description, 
.price-description-text{

  width: 472px;
}



  .footer{

    justify-content: space-evenly;
  }

  .footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .form-container {
    display: flex;
    flex-direction: column;
  }

  .form-head {
    display: flex;
    width: 650px;
    align-items: center;
  }

  .form-title {

    width: 650px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  
  .hero-content {
    top: 45%;
    left: 70%;
  }

  .hero-text{
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 85%;
    transform: translate(-50%);
    text-align: right;
    background-color: #000011;
    z-index: 4;
  }
  
  #selector {

    top: 68%; /* Center vertically */
    left: 48%; /* Center horizontally */
  }

  .price-content article {

    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    /* Prevent shrinking, keep each article's width */
    width: 270px;
    gap: 20px;
  }
  

    .path-title{
      margin: 0;
    padding: 50px 100px 50px 0;
    text-align: center;
    background: #000011;
    }
    .path-text{
      margin: 0;
      padding: 0 0 0 80px;
      text-align: left;
    }

 .path-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  justify-content: space-evenly;
  gap: 30px;
 }

.path-explore-button-large{
  display: inline;

}
 .tier-container{
  display: flex;
  flex-direction: row;
  gap: 30px;
 }

 .path-explore-button{
  display: none;
 }


  .path-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  
  .price-tag{
    width: 100px;
  }

  .select-button{
    display: none;
  }
 
  .select-button-large-screens{
    display: inline;
  }

  .land-photo {
    display: inline;

  }
  .zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(0.95); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  .info-container {
    padding: 50px 20px 120px 20px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-head {
    display: flex;
    width: 650px;
    align-items: center;
  }

  .form-title {

    width: 650px;
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

 .hero-img{
  display: inline-flex;
  margin: 0;
  padding: 10px 0 0 0;
  border:0; 
  height: auto;
  z-index: 0; 

 }


  #selector {
 
    top: 63%; /* Center vertically */
    left: 49%; /* Center horizontally */

  }


    .path-text{
      margin: 0;
      padding: 0 0 0 320px;
      text-align: left;
    }

    .path-full-container{
      display: flex;
      flex-direction: row;  justify-content: space-evenly;
      align-items: flex-start;
    }
    .path-container{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      padding: 0 20px;
      justify-content: space-evenly;
      align-items: flex-start;
      gap: 30px;
     }
    
    .other-paths{
      padding-bottom: 40px;
    }

    .path-explore-button-large{
      display:block
    }

    .price-content{
      justify-content: center;
    }
.info-content{
 justify-content: center;
  max-width: 800px;
}
    .info-intro,
    .info-large, 
    .info-xlarge{
      display: block;
    }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-head {
    display: flex;
    width: 650px;
    align-items: center;
  }

  .form-title {

    width: 650px;
  }

}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px){


  #selector {
    top: 63%; /* Center vertically */
    left: 49%; /* Center horizontally */
  }

  .path-text{
    margin: 0;
    padding: 0 0 0 620px;
    text-align: left;
  }


  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-head {
    display: flex;
    width: 650px;
    align-items: center;
  }

  .form-title {

    width: 650px;
  }
}

@media only screen and (min-width: 2560px){

}